---
layout: layouts/base.njk
extraCss: /css/lore.css
---
<article class="lore-article">
  <h1 class="lore-title">{{ title }}</h1>
  {% if tags %}
  <p class="lore-meta">{{ tags | join(" · ") }}</p>
  {% endif %}

  <div class="prose">
    {{ content | safe }}
  </div>
</article>
